<div class="container">
  <div class="bs-docs-section">
    <h2 id="tables" class="page-header">Lista De Usuarios</h2>
    <div class="bs-example">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th><center>Email</center></th>
            <th><center>Rol</center></th>
            <th><center>Estado</center></th>
            <th><center>Ver</center></th>
            <th><center>Eliminar</center></th>
            <th><center>Deshabilitar</center></th>
            <th><center>Habilitar</center></th>
            <th><center>Cambiar Rol</center></th>
          </tr>
        </thead>

        <tbody>
          <% cont=1 %>
          <% @users.each do |user| %>
            <tr>
              <td><%= cont %></td>
              <td><%= user.email %></td>
              <!-- <td><center><%#= if user.has_role? :admin then "Administrador" else "Usuario" end %></center></td> -->
              <td><center><%= if user.rol=="Administrador" then "Administrador" else "Usuario" end %></center></td>
              <td><center><%= if user.user_enable then "Habilitado" else "Des-Habilitado" end %></center></td>
              <td><a href="/manager/show_user/<%= user.id %>"><center>ver</a></td>
              <td><a href="/manager/delete_user/<%= user.id %>"><center>eliminar</center></a></td>
              <% if user.user_enable %>
              <% then %>
                <td><a href="/manager/disable_user/<%= user.id %>" disabled><center>deshabilitar</center></a></td>
                <td></td>
              <% else %>
                <td></td>
                <td><a href="/manager/enable_user/<%= user.id %>"><center>habilitar</center></a></td>
              <% end %>
              <td><a href="/manager/change_role/<%= user.id %>"><center>Cambiar Rol</center></a></td>
              <% cont=cont+1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>