<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @thermostat_history.thermostat %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @thermostat_history.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @thermostat_history.humidity %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @thermostat_history.consumption %>
</p>

<%= link_to 'Edit', edit_thermostat_history_path(@thermostat_history) %> |
<%= link_to 'Back', thermostat_histories_path %>
