<h1>Configurar Temperatura basica</h1>

<%= form_for @thermostat, :url => {:action => "set_temperatures"} do |f| %>

	<div class="field">
    <%= f.label "Temperatura Basica" %><br>
    <%= f.number_field :temperature %>
  	</div>

	<div class="field">
    	<%= f.label "Configuracion Basica" %><br> 
    	<%= f.radio_button(:configuration, true) %>
    	<%= f.label :configuration, "Si" %>
    	<%= f.radio_button(:configuration, false) %>
    	<%= f.label :configuration, "No" %>
  	</div>

  	<div class="actions">
    	<%= f.submit "Cambiar Temperatura" %>
  	</div>

<% end %>