<table class="table table-striped table-hover">
	<thead>
		<tr>
			<h1><%=@thermostat.location.address %>/<%= @thermostat.place%></h1>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><h3>ID</h3></td>
			<td><h3>Temperatura</h3></td>
			<td><h3>Humedad</h3></td>
			<td><h3>Consumo</h3></td>
		</tr>
		<tr>
			<% if @thermostat_history!= nil %>
				<td> <%=@thermostat_history.thermostat.serial_number%></td>
				<td><%=@thermostat_history.temperature%></td>
				<td><%=@thermostat_history.humidity%></td>
				<td><%=@thermostat_history.consumption%></td>
			<%end%>
		</tr>
	</tbody>
</table>